{% extends 'base.html'%}
{% load static %}
{% block apaya %}
    <!-- Pantai -->
    <div class="pantai" style="padding-top: 80px;" id="pantai">
        <div class="container">
          <h3 style="padding-bottom: 3rem; color: white;">Daftar Pantai</h3>
          <div class="box-pantai">
            <div class="box">
              <img src="{% static 'img/gambar1.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar2.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar3.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar1.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar2.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar3.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar1.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar2.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
            <div class="box">
              <img src="{% static 'img/gambar3.jpg' %}" alt="" />
              <p>Potret kebahagiaan orang saat bermain di pantai lewat website Dolankuy.</p>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}