{% extends 'base.html'%}
{% load static %}
{% block apaya %}
      <!-- Pantai -->
      <div class="pantai" style="padding-top: 80px;" id="pantai">
        <div class="container">
          <h3 style="padding-bottom: 3rem; color: white;">Daftar Pantai</h3>
          <div class="box-pantai">
            <div class="box">
              <img src="{% static 'img/pantai1.jpg' %}" alt="" />
              <h3>Destinasi Pantai 1</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai2.jpg' %}" alt="" />
              <h3>Destinasi Pantai 2</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai3.jpg' %}" alt="" />
              <h3>Destinasi Pantai 3</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai4.jpg' %}" alt="" />
              <h3>Destinasi Pantai 4</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai5.jpg' %}" alt="" />
              <h3>Destinasi Pantai 5</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai6.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai1.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai2.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai3.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai4.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai5.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai6.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai1.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai1.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
            <div class="box">
              <img src="{% static 'img/pantai1.jpg' %}" alt="" />
              <h3>Destinasi Pantai 6</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, modi.</p>
              <button>Detail</button>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}