{% extends 'base.html'%}
{% load static %}
{% block apaya %}
    <!-- Services -->
    <div class="services" style="padding-top: 80px;" id="services">
        <div class="container">
            <h3 style="padding-bottom: 3rem; color: white;">Service</h3>
          <div class="box-services">
            <div class="box">
              <i class="fa-solid fa-coins"></i>
              <h4>Harga Terjangkau</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
            <div class="box">
              <i class="fa-solid fa-certificate"></i>
              <h4>Sudah Tersertifikasi</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
            <div class="box">
              <i class="fa-solid fa-people-roof"></i>
              <h4>Aman dan Ramah</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-campground"></i>
                <h4>Tersedia Alat Camping</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-ship"></i>
                <h4>Tersedia Kapal Untuk Berlayar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-kit-medical"></i>
                <h4>Tersedia Alat Pertolongan Pertama</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-car"></i>
                <h4>Tersedia Driver</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-bag-shopping"></i>
                <h4>Banyak Pusat Belanja Oleh-oleh</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, labore.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Services -->
{% endblock %}